In [1]:
import numpy as np
import pandas as pd
from DataPreparetion import DataPreparetion

# Modelo de Previsão de Churn:

Preveja os usuários com alta chance de deixar seu Streaming:

## Dataframe:

In [2]:
path = r'../data/streaming_data.csv'
df = pd.read_csv(
    filepath_or_buffer=path,
    decimal='.',
    sep=','
)

In [3]:
display(df.head())

,Age,Gender,Time_on_platform,Devices_connected,Subscription_type,Num_streaming_services,Num_active_profiles,Avg_rating,Churned,User_id
0,49.0,Male,4700.0,3.0,Basic,NaN,3,NaN,0.0,a271aa56-bcfc-4f0a-91f7-b773de6b86a4
1,69.0,Female,6107.0,2.0,Standard,NaN,1,2.14,0.0,fe14b048-770b-4619-8ec6-485b0969ae31
2,44.0,Male,6374.0,3.0,Premium,1.0,1,1.91,1.0,0283dffd-6684-4a05-9c6f-c02098a6849d
3,26.0,Male,NaN,5.0,Basic,NaN,2,NaN,NaN,c316f2f5-3403-4a0a-82c2-c98e4b3379d2
4,18.0,NaN,1948.0,3.0,Basic,NaN,3,3.88,0.0,14879bcb-1977-4ad8-a7f9-6aa9bf7b872f

## Código:

In [4]:
class ChurnPrediction(DataPreparetion):
    pass

if __name__ == '__main__':
    churn_prediction = ChurnPrediction()

## Output:

### Data Understanding:

In [5]:
display(df.head(3))

,Age,Gender,Time_on_platform,Devices_connected,Subscription_type,Num_streaming_services,Num_active_profiles,Avg_rating,Churned,User_id
0,49.0,Male,4700.0,3.0,Basic,NaN,3,NaN,0.0,a271aa56-bcfc-4f0a-91f7-b773de6b86a4
1,69.0,Female,6107.0,2.0,Standard,NaN,1,2.14,0.0,fe14b048-770b-4619-8ec6-485b0969ae31
2,44.0,Male,6374.0,3.0,Premium,1.0,1,1.91,1.0,0283dffd-6684-4a05-9c6f-c02098a6849d

In [6]:
df.columns

Index(['Age', 'Gender', 'Time_on_platform', 'Devices_connected',
       'Subscription_type', 'Num_streaming_services', 'Num_active_profiles',
       'Avg_rating', 'Churned', 'User_id'],
      dtype='object')

In [7]:
churn_prediction.verificando_as_dimensões_do_dataframe(
    dataframe=df
)

Linhas: 77884
Colunas: 10

In [8]:
churn_prediction.descrição(
    dataframe=df
)

,Age,Time_on_platform,Devices_connected,Num_streaming_services,Num_active_profiles,Avg_rating,Churned
count,66607.00,56464.00,52696.00,9572.00,77884.00,60614.00,61148.00
mean,43.51,4385.85,3.00,2.50,3.00,3.00,0.24
std,15.04,2526.58,1.41,1.12,1.41,1.15,0.43
min,18.00,0.00,1.00,1.00,1.00,1.00,0.00
25%,30.00,2196.00,2.00,1.00,2.00,1.99,0.00
50%,43.00,4384.00,3.00,2.00,3.00,3.01,0.00
75%,57.00,6573.00,4.00,4.00,4.00,4.00,0.00
max,69.00,8759.00,5.00,4.00,5.00,5.00,1.00

In [9]:
churn_prediction.verificando_tipos(
    dataframe=df
)

                          Tipos
Age                     float64
Gender                   object
Time_on_platform        float64
Devices_connected       float64
Subscription_type        object
Num_streaming_services  float64
Num_active_profiles       int64
Avg_rating              float64
Churned                 float64
User_id                  object

In [10]:
churn_prediction.verificando_valores_nulos(
    dataframe=df
)

### Data Preparetion:

In [11]:
df_copy = df.copy()

In [12]:
colunas = [
    'Time_on_platform', 
    'Num_streaming_services', 
    'Churned', 
    'Avg_rating', 
    'Devices_connected',
]

In [13]:
df[colunas] = churn_prediction.substituindo_valores(
    dataframe=df,
    colunas=colunas,
    valores={
        np.nan:  0,
    }
)

In [14]:
colunas = ['Gender', 'Subscription_type', 'Age']

In [15]:
df = churn_prediction.removendo_nulos(
    dataframe=df,
    colunas=colunas
)

In [16]:
df['Churned'] = churn_prediction.label_endcode(
    dataframe=df['Churned']
)

In [17]:
colunas_float = df.select_dtypes(include='float').columns

In [18]:
df[colunas_float] = churn_prediction.convertendo_colunas(
    dataframe=df,
    colunas=colunas_float,
    tipo='int'
)